.contact {
  width: 100%;
  padding-bottom: 5em;
}

.contactHead {
  position: relative;
  text-align: center;
  font-size: 6rem;
}

.contact-form {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contactPara {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.contactName,
.contactEmail,
.contactMsg {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: white;
  width: 100%;
  max-width: 60rem;
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.25),
    0 2px 8px rgba(0, 0, 0, 0.2);
}

.contactMsg {
  min-height: 5rem;
  resize: vertical;
}

.sendButton {
  font-family: "Poppins", sans-serif;
  margin: 2rem 0;
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.socials img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

@media screen and (max-width: 1440px) {
  .contact-form {
    max-width: 45rem;
  }

  .sendButton {
    font-size: 1.3rem;
  }

  .contactHead {
    font-size: 2.5rem;
  }

  .contactPara {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .contact-form {
    max-width: 70vw;
  }

  .contactHead {
    font-size: 3rem;
  }

  .contactPara {
    font-size: 1rem;
  }

  .sendButton {
    padding: 1.5rem 3rem;
    font-size: 1rem;
  }

  .socials img {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (max-width: 440px) {
  .contactHead {
    font-size: 2.5rem;
  }

  .contactPara {
    font-size: 1rem;
  }

  .contactName,
  .contactEmail,
  .contactMsg {
    font-size: 0.8rem;
    width: 100%;
    max-width: 80svw;
    margin: 1rem 0;
    padding: 1rem;
  }

  .contactMsg {
    min-height: 10rem;
  }

  .sendButton {
    padding: 1.2rem 2rem;
    font-size: 0.8rem;
  }

  .socials img {
    width: 6rem;
    height: 6rem;
  }
}
