.footer {
  display: flex;
  padding: 3rem 15rem;
  height: 13rem;
  align-items: center;
  gap: 5rem;
  box-shadow: 0 4px 12px rgba(214, 207, 207, 0.25);
}

.footerLeft,
.footerRight,
.footerMiddle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerRight {
  flex-direction: row;
}

.socialIcon {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
}

@media screen and (max-width: 1440px) {
  .footer {
    font-size: 1.3rem;
    padding: 0;
    gap: 0rem;
  }

  .socialIcon {
    width: 5rem;
    height: 5rem;
  }

  .footerRight {
    flex-direction: column;
  }

  .footerRight .footerPipe {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: 1rem;
  }

  .socialIcon {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    font-size: 0.8rem;
    padding: 0;
    flex-direction: column;
    gap: 0rem;
  }

  .socialIcon {
    width: 3rem;
    height: 3rem;
  }

  .footerRight {
    flex-direction: row;
  }
  .footerRight .footerPipe {
    display: contents;
  }
}
