.homepage {
  height: calc(100vh - 10rem);
  width: 100%;
  padding: 5rem 0;
  overflow: hidden;
}

.pfp {
  max-width: 50vw;
  height: 100dvh;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0) 80%
  );
}

.intro {
  height: 70vh;
  width: 50vw;
  padding: 4rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.introHead {
  font-size: 5rem;
  font-weight: 700;
}

.introName {
  color: rgb(212, 169, 126);
}

.introPara {
  font-size: 2rem;
  font-weight: 200;
}

.resumeBtn {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: white;
  margin: 3rem 0rem;
  padding: 0.75rem 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  min-height: 3rem;
}

.resumeBtn:before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: 0.3s ease-in-out;
  position: absolute;
  inset: 0;
}

.resumeBtn:hover {
  color: rgb(30, 29, 29);
}

.resumeBtn:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.resumeBtn .resumeImg {
  height: 1.2em;
  width: auto;
  object-fit: contain;
  margin: 0 0.25rem 0 0;
  padding-right: 0;
  align-items: center;
  transition: filter 0.3s ease;
  filter: invert(1) brightness(2);
}

.resumeBtn:hover .resumeImg {
  filter: invert(0) brightness(1);
}

.resumeBtn span {
  z-index: 1;
}

@media screen and (max-width: 1440px) {
  .introHead {
    font-size: 3rem;
  }

  .introPara {
    font-size: 1.5rem;
  }

  .resumeBtn span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .resumeBtn span {
    font-size: 1.3rem;
  }

  .introHead {
    font-size: 3rem;
  }

  .introPara {
    font-size: 1.3rem;
  }

  .pfp {
    max-width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .homepage {
    height: calc(100vh - 6rem);
  }

  .pfp {
    mask-image: none;
    opacity: 0.5;
    max-width: 100vw;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .intro {
    height: 50vh;
    width: 80vw;
    margin-left: 2rem;
    margin-top: 7rem;
    padding: 0;
  }

  .introHead {
    font-size: 2rem;
    font-weight: 700;
  }

  .introPara {
    font-size: 1rem;
    font-weight: 200;
  }

  .resumeBtn span {
    font-size: 1rem;
    font-weight: 200;
  }
  .resumeBtn {
    transition:
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }

  .resumeBtn::before {
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .resumeBtn:hover {
    color: rgb(30, 29, 29);
  }

  .resumeBtn:hover::before {
    opacity: 1;
  }
}
