* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(30, 29, 29);
  color: white;
}
